<h1>Send in your user info here</h1>

<form style="color:white; padding-left: 5%;"method="POST" action="/">
  First Name: <input name="fname"><br><br><hr>
  Last Name: <input name="lname"><br><br><hr>
  Email: <input name="email"><br><br><hr>
  Avatar Pic URL: <input name="bday"><br><br><hr>
  Birthday: <input type="submit"><br><br><hr>
</form>