<!DOCTYPE html>
<html>
  <head>
    <title>Vanessa's App</title>
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"> Taking out boostrap css for now-->
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>